.roundedEdgeBlueBg_M1 {
	margin:0; padding:0; font:20px Tahoma, Geneva, Arial, Verdana, Helvetica, sans-serif; color:#37476b; text-align:left;
}
.roundedEdgeBlueBg_hsep {
	background-color: #e6f0fa;
	width: 1px;
}

.roundedEdgeBlueBg_vsep {
	height: 1px; 
	background-color: #e6f0fa;
}