<div class="tab-container">
	Newly created mustache widget.	
  <p>
    A nice new widget for {{name}}.
    <p>
      My favorite colors are:<br>
      <ul>
      {{#color}}
        <li style="color: {{.}}">{{.}}</li>
      {{/color}}
      </ul>
  <p>
    G time is [[now]]<br>
    Time is {{now}}<br>
    <p>
</div>