.bizSimpleListFrame_M1 {
	margin:0; padding:0; font:14px Tahoma, Geneva, Arial, Verdana, Helvetica, sans-serif; color:#333333; text-align:left;font-weight:bold;
}

.bizSimpleListFrame_hsep {
	width: 1px;
}

.bizSimpleListFrame_vsep {
	height: 1px; 
}