.transparentFrameWithVertSep_M1 {
	margin:0; padding:0; font-size:2px; color:#FFFFFF; text-align:left;
}

.transparentFrameWithVertSep_hsep {
	background-color: #c0c0c0;
	width: 1px;
}

.transparentFrameWithVertSep_vsep {
	height: 0px; 
	background-color: #ffffff;
}