.clearFrameWithHdrAndSep_M1 {
	margin:0; padding:0; font:16px Tahoma, Geneva, Arial, Verdana, Helvetica, sans-serif; color:#3d66b8; text-align:left;
}

.clearFrameWithHdrAndSep_hsep {
	background-color: #c0c0c0;
	width: 1px;
}

.clearFrameWithHdrAndSep_vsep {
	height: 1px; 
	background-color: #c0c0c0;
}